<div class="example-container mat-elevation-z8">
  <h2>Department List</h2>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!--   <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/department-create']"><mat-icon>add</mat-icon> Department</a>
    <a mat-flat-button color="accent" [routerLink]="['/department-read']"><mat-icon>show</mat-icon> Department</a>
  </div> -->
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      class="example-table"
      matSort
      matSortActive="shortName"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- Department Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Department ShortName Column -->
      <ng-container matColumnDef="shortName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Short name</th>
        <td mat-cell *matCellDef="let row">{{ row.shortName }}</td>
      </ng-container>

      <!-- Department LongName Column -->
      <ng-container matColumnDef="longName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Long name</th>
        <td mat-cell *matCellDef="let row">{{ row.longName }}</td>
      </ng-container>

      <!-- Department CreatedBy Column -->
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
        <td mat-cell *matCellDef="let row">{{ row.createdBy }}</td>
      </ng-container>

      <!-- Department CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
        <td mat-cell *matCellDef="let row">
          {{ row.createdAt | date: "dd.MM.yyyy HH:mm" }}
        </td>
      </ng-container>

      <!-- Department ChangedBy Column -->
      <ng-container matColumnDef="changedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Changed by</th>
        <td mat-cell *matCellDef="let row">{{ row.changedBy }}</td>
      </ng-container>

      <!-- Department ChangedAt Column -->
      <ng-container matColumnDef="changedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Changed at</th>
        <td mat-cell *matCellDef="let row">
          {{ row.changedAt | date: "dd.MM.yyyy HH:mm" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="['/department-list/', row.id]"
      ></tr>
    </table>
  </div>
</div>
