.example-container {
  padding: 5px;
  width: fit-content;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-header-row,
.mat-row {
  height: auto;
}

.mat-header-cell,
.mat-cell {
  padding: 0 8px 0 8px;
  white-space: nowrap;
}

.mat-row:focus {
  background: lightblue;
}
